<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.interfacer.userInfoLogin.LoginSelectInterface">

    <resultMap id="resultMap" type="com.qst.itofferbacker.javabean.LoginSelect">
        <result property="USER_LOGNAME" jdbcType="CHAR" column="USER_LOGNAME"/>
        <result property="USER_PWD" jdbcType="CHAR" column="USER_PWD"/>
    </resultMap>

    <!--查询用户名、密码-->
    <select id="loginSelect" resultMap="resultMap">
        SELECT USER_LOGNAME,USER_PWD from tb_users WHERE USER_LOGNAME = #{USER_LOGNAME} and USER_PWD = #{USER_PWD}
    </select>

</mapper>